html {
  scroll-behavior: smooth !important;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}
body {
  padding-top: 60px;
}
/* utilities */
ul,
menu,
dir {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
.mb-12 {
  margin-bottom: 12px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px !important;
}
/* utilities end  */

.logo-nav {
  width: 155px !important;
  height: auto !important;
}
.btn-signup {
  background: #76cc11;
  color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 8px 22px;
  font-weight: 800 !important;
}
.nav-item,
.nav-item button {
  font-size: 0.916rem !important;
}
.nav-item button {
  font-weight: bold !important;
}
.nav-outline {
  border-bottom: 1px solid rgb(229, 227, 221);
}
.navbar-login {
  max-width: 210px !important;
  width: 210px;
  overflow: hidden;
}
.nav-signup {
  max-width: 210px !important;
  overflow: hidden !important;
}
.navbar-login:hover {
  color: #76cc11 !important;
  text-decoration: underline !important;
  overflow: hidden !important;
  /* max-width: 154px !important; */
  overflow: hidden !important;
}
.dropdown__fontsize {
  font-size: 0.916rem !important;
  padding: 20px 0 !important ;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.btn-signup:hover,
.btn-action:hover,
.btn-action__tribe:hover,
.btn-action__login:hover {
  /* background-color: rgb(53, 122, 25); */

  background-color: #66af13;
  color: rgb(255, 255, 255);
}
.btn-action__shop:hover {
  background-color: #2c92db;
  color: rgb(255, 255, 255);
}
.btn-action__linkbio:hover {
  background-color: #dd283a;
  color: rgb(255, 255, 255);
}
.login u:hover,
.guide u:hover,
.login-footer u:hover {
  color: #76cc11 !important;
}
.guide-shop u:hover {
  color: rgb(64, 171, 250) !important;
}
.guide-linkbio u:hover {
  color: #e94151 !important;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
.dropdown-menu {
  max-width: 175px !important;
  width: 175px !important;
  white-space: normal;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.navbar .dropdown-menu a {
  white-space: normal;
  cursor: pointer;
  color: #000;
  font-size: 1rem;
  padding: 5px 20px;
}

.dropdown-toggle {
  cursor: pointer;
}
nav.dropdown-toggle .menu {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
  display: inline-block;
  vertical-align: middle;
  color: black;
  text-decoration: none;
}

.nav-link {
  color: black !important;
}

.jumbotron {
  padding: 40px 0 60px 0 !important;
  width: 100% !important;
}
.title-jumbotron {
  background: linear-gradient(to right, #76cc11 30%, #0080ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
.subtitle {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
.region {
  font-weight: 200 !important ;
}
.logo-jumbo img {
  width: 200px;
}
.btn-action {
  background: #76cc11;
  color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 12px 35px;
  font-weight: 800 !important;
  font-size: 1.16rem !important;
  margin-top: 20px;
}
.btn {
  line-height: 1.3 !important ;
}
.guide {
  font-size: 1rem;
  line-height: 1.3;
}
.text-dark {
  color: #000 !important;
}
.card {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.card-body {
  padding: 1.5rem;
}

.hover__grow:hover {
  -webkit-transform: scale(1.02) translateZ(0px);
  transform: scale(1.02) translateZ(0px); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: scale(1.02) translateZ(0px);
  transition: 0.2s;
}
.card-features {
  margin-top: 45px;
}
.card-features .card-text {
  font-size: 0.9rem;
  font-weight: 800;

  line-height: 1.3;
}
.text-features {
  background: linear-gradient(to right, #76cc11 30%, #0080ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 1.4rem !important;
  line-height: 1.3;
  margin-bottom: 30px;
}
.card-tribe {
  border: 1px solid #76cc11;
  background-color: #dffbdf;
}
.card-shop {
  border: 1px solid #40abfa;
  background-color: #dff8ff;
}
.card-linkbio {
  border: 1px solid #e94151;
  background-color: #ffeded;
}
.card img {
  height: 30px;
}
.card-text {
  font-weight: 800;
  color: #000;
}

/* tribe */
.content-tribe {
  background-color: #dffbdf;
  padding: 60px 0;
  width: 100% !important;
  border-top: 1px solid rgb(229, 227, 221);
}
.content-tribe .img-tribe img {
  height: 50px !important;
}

.title-tribe {
  font-size: 1.6rem;
  font-weight: 800;
  color: black;
  margin-top: 12px;
  line-height: 1.3;
}
.figure-title {
  font-weight: 700;
  font-size: 1.16rem;
  color: #000;
  width: 90%;
  margin: auto;
  line-height: 1.3;
}
.description-figure {
  font-size: 1rem !important;
  color: #404040;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.4rem;
  line-height: 1.4;
  margin-bottom: 0;
}
.btn-action__tribe {
  background: #76cc11;
  color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 12px 35px;
  font-weight: 800 !important;
  font-size: 1.16rem !important;
}
/* end tribe */

/* shop */
.content-shop {
  background-color: #dff8ff;
  padding: 60px 0;
  border-top: 1px solid rgb(229, 227, 221);

  width: 100% !important;
}
.content-shop .img-shop img {
  height: 50px !important;
}

.title-shop {
  font-size: 1.6rem;
  font-weight: 800;
  color: black;
  margin-top: 12px;
  line-height: 1.3;
}

.btn-action__shop {
  background: #40abfa;
  color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 12px 35px;
  font-weight: 800 !important;
  font-size: 1.16rem !important;
}
/* end shop */

/* linkbio */
.content-linkbio {
  background-color: #ffeded;
  padding: 60px 0;
  width: 100% !important;
  border-top: 1px solid rgb(229, 227, 221);

  /* height: 100vh !important; */
}
.content-linkbio .img-linkbio img {
  height: 50px !important;
}

.title-linkbio {
  font-size: 1.6rem;
  font-weight: 800;
  color: black;
  line-height: 1.3;

  margin-top: 12px;
}

.btn-action__linkbio {
  background: #e94151;
  color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 12px 35px;
  font-weight: 800 !important;
  font-size: 1.16rem !important;
}
/* end linkbio */

.img-tribe,
.img-shop,
.img-linkbio {
  margin-bottom: 1.8rem !important;
}

/* payment */
.content-payment {
  background-color: #ffffff;
  padding: 60px 0 60px 0;
  /* height: 100vh !important; */
  border-top: 1px solid rgb(229, 227, 221);
}
.title-payment {
  background: linear-gradient(to right, #76cc11 30%, #0080ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 1.3rem !important;
  /* margin-bottom: 30px; */
  font-weight: 800;
  color: black;
  line-height: 1.3;
}
.content-payment .img-payment img {
  height: 50px !important;
}
.figure {
  width: 100% !important;
}
.figure-image {
  width: 90% !important;
  margin: auto;
  /* background-color: #000; */
}

.figure-image img {
  width: 100% !important;
  height: 100%;
}
.figure .figure-img {
  max-width: 100% !important;
  /* max-height: 300px;
    min-height: 300px !important; */
  width: 100% !important;
  height: auto !important;
  /* margin: auto; */
  -o-object-fit: fill !important;
  object-fit: fill !important;
}
.figure.payment {
  width: 100% !important;
  height: 100% !important;
}
.figure.payment img {
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
  margin: auto !important;
  /* object-fit: cover !important; */
}
.figure.payment img.withdraw {
  max-width: 100% !important;
  max-height: 100px !important;
  width: auto !important;
  height: auto !important;
  margin: auto !important;
  /* object-fit: cover !important; */
}
.payment-paypal {
  margin-top: 12px !important;
  width: 120px !important;
  height: auto;
}

.btn-action__payment {
  background: #e94151;
  color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 12px 35px;
  font-weight: 800 !important;
  font-size: 1.1rem !important;
}
/* end payment */
/* login */
.content-login__action {
  background-color: #f2f2f2;
  padding: 40px 0;
  border-top: 1px solid rgb(229, 227, 221);
}
.btn-action__login {
  background: #76cc11;
  color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 12px 35px;
  font-weight: 800 !important;
  font-size: 1.16rem !important;
}
/* end login */
footer {
  background-color: #262626;
  padding: 40px 0;
}
footer img {
  width: 12rem;
}
footer .text-footer {
  margin-top: 25px;
}
footer .text-footer a {
  color: #bfbfbf !important;
  font-size: 0.91rem;
  margin-bottom: 14px;
  line-height: 1.3;
}
.text-footer .sociabuzz {
  color: #7f7f7f !important;
  font-size: 0.95rem;
  margin-top: 34px !important;
  font-weight: 700;
}
.login-footer {
  font-size: 1rem;
  line-height: 1.3;
}

@media (min-width: 0px) and (max-width: 319.89px) {
  nav.dropdown-toggle .menu {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 51px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    text-decoration: none;
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 1.5rem;
  }
}
@media (min-width: 0px) and (max-width: 390px) {
  .logo-nav {
    width: 125px !important;
    height: auto !important;
  }
  .title-jumbotron {
    /* margin-top: 20px !important; */
    background: linear-gradient(to right, #76cc11 30%, #0080ff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 2.5rem !important;
    line-height: 1.1;
  }

  .subtitle {
    font-weight: 800;
    font-size: 2.5rem !important;
    line-height: 1.1;
  }
  .text-features {
    font-size: 1.4rem !important;
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 1.6rem;
  }
}
/* Landscape iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 1.8rem;
  }
  .figure-image {
    width: 50% !important;
    margin: auto !important;
  }
}
/* iphone 6, 7 abd 8  */
/* potrait  */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 1.6rem !important;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .card-body {
    height: auto !important;
  }
  .figure-image {
    width: 50% !important;
    margin: auto;
    /* background-color: #000; */
  }
  .mb-5 {
    margin-bottom: 2.2rem !important;
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 1.6rem !important;
  }
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 1.6rem !important;
  }
  .figure-image {
    width: 90%;
    margin: auto;
  }
}
/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .card-body {
    height: auto !important;
  }
  .figure-image {
    width: 50% !important;
    margin: auto;
    /* background-color: #000; */
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 1.6rem !important;
  }
}

/* iphone x */
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 1.6rem !important;
  }
  .figure-image {
    width: 90% !important;
    margin: auto !important;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 2rem !important;
  }
  .figure-image {
    width: 90% !important;
    margin: auto;
  }
}
/* end iphone x */
@media (min-width: 576px) {
  .title-payment {
    font-size: 1.5rem !important;
  }
}
@media (min-width: 576px) and (max-width: 767.8px) {
  .jumbotron {
    padding: 15px 0 60px 0 !important;
  }
  .card-body {
    height: 120px;
  }
  .title-jumbotron {
    margin-top: 20px !important;
    background: linear-gradient(to right, #76cc11 30%, #0080ff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 3rem !important;
    line-height: 1.1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }

  .subtitle {
    font-weight: 800;
    font-size: 3rem !important;
    line-height: 1.1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 2rem !important;
  }
  .figure-image {
    width: 50% !important;
    margin: auto !important;
  }
}
/* ----------- iPad 1, 2, Mini and Air ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .jumbotron {
    padding: 25px 0 60px 0 !important;
  }
  .card-body {
    height: 120px !important;
  }
  .title-jumbotron {
    margin-top: 20px !important;
    background: linear-gradient(to right, #76cc11 30%, #0080ff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 4rem !important;
    line-height: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }

  .subtitle {
    font-weight: 800;
    font-size: 4rem !important;
    line-height: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 2rem !important;
  }
}
/* galaxy tab s7 */
@media only screen and (min-device-width: 1037px) and (max-device-width: 1037.92px) and (-webkit-min-device-pixel-ratio: 1) {
  .figure-image {
    width: 90% !important;
    margin: auto !important;
  }
}
/* galaxy tab s7 landscape */
@media only screen and (min-device-width: 753px) and (max-device-width: 753.92px) and (-webkit-min-device-pixel-ratio: 1) {
  .figure-image {
    width: 90% !important;
    margin: auto !important;
  }
  .card-body {
    height: 120px !important;
  }
}

/* galaxy tab s7  */

@media only screen and (min-device-width: 712px) and (max-device-width: 712.92px) and (-webkit-min-device-pixel-ratio: 1) {
  .figure-image {
    width: 90% !important;
    margin: auto !important;
  }
}
/* galaxy tab s5 landscape */

@media only screen and (min-device-width: 1138px) and (max-device-width: 1138.92px) and (-webkit-min-device-pixel-ratio: 1) {
  .figure-image {
    width: 90% !important;
    margin: auto !important;
  }
  .card-body {
    height: 120px !important;
  }
}
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .jumbotron {
    padding: 25px 0 60px 0 !important;
  }
  .card-body {
    height: 120px !important;
  }
  .title-jumbotron {
    margin-top: 20px !important;
    background: linear-gradient(to right, #76cc11 30%, #0080ff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 4rem !important;
    line-height: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }

  .subtitle {
    font-weight: 800;
    font-size: 4rem !important;
    line-height: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 2rem !important;
  }
}
/* ----------- iPad 1, 2, Mini and Air  End ----------- */

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .title-jumbotron {
    background: linear-gradient(to right, #76cc11 30%, #0080ff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 4rem !important;
    line-height: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
  .logo-jumbo img {
    width: 280px;
  }
  .text-features {
    font-size: 1.5rem !important;
    line-height: 1.19;
  }
  .subtitle {
    font-weight: 800;
    font-size: 4rem !important;
    line-height: 1.1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
  .card-body {
    height: 120px;
  }
  .mb-60 {
    margin-bottom: 1.5rem !important;
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 2rem !important;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .jumbotron {
    padding: 30px 0 60px 0 !important;
  }
  .title-jumbotron {
    background: linear-gradient(to right, #76cc11 30%, #0080ff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 4rem !important;
    line-height: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }

  .text-features {
    font-size: 1.5rem !important;
    line-height: 1.19;
  }
  .subtitle {
    font-weight: 800;
    font-size: 4rem !important;
    line-height: 1.1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 2rem !important;
  }
  .mb-60 {
    margin-bottom: 1.5rem !important;
  }
}
/* Portrait ipad pro 12.9*/
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .title-jumbotron {
    background: linear-gradient(to right, #76cc11 30%, #0080ff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 4rem !important;
    line-height: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
  .logo-jumbo img {
    width: 280px;
  }
  .text-features {
    font-size: 2rem !important;
    line-height: 1.19;
  }
  .subtitle {
    font-weight: 800;
    font-size: 4rem !important;
    line-height: 1.1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
  .card-body {
    height: 120px;
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 2rem !important;
  }
  .mb-60 {
    margin-bottom: 1.5rem !important;
  }
}
/* ipad 3,4 and pro 9.7 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .mb-60 {
    margin-bottom: 1.5rem !important;
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 2rem !important;
  }
}
/* galaxy tab s5 landscape */

/* Landscape ipad pro 12.9*/
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1365px) and (max-device-width: 1365px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .card-body {
    height: 120px;
  }
  .mb-60 {
    margin-bottom: 1.5rem !important;
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 2rem !important;
  }
}
@media (min-width: 1200px) and (max-width: 1280px) {
  .jumbotron {
    padding: 15px 0 90px 0 !important;
    /* min-height: 93vh; */
  }
  .title-jumbotron {
    background: linear-gradient(to right, #76cc11 30%, #0080ff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 5.5rem !important;
    line-height: 1;
  }
  .logo-jumbo img {
    width: 280px;
  }
  .text-features {
    font-size: 1.5rem !important;
    line-height: 1.1;
  }
  .subtitle {
    font-weight: 800;
    font-size: 5.5rem !important;
    line-height: 1;
  }

  .mb-60 {
    margin-bottom: 1.5rem !important;
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 2rem !important;
  }
}
@media (min-width: 1200px) and (max-width: 1390px) {
  .logo-nav {
    width: 185px !important;
    height: auto;
  }

  .content-tribe,
  .content-shop,
  .content-linkbio {
    position: relative;
    height: 100% !important;
    padding: 60px 0 !important;
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 2rem !important;
  }
  .login {
    font-size: 1.16rem;
  }
  .btn-action {
    background: #76cc11;
    color: white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 12px 35px;
    font-weight: 800 !important;
    font-size: 1.16rem !important;
  }
  .mb-60 {
    margin-bottom: 1.5rem !important;
  }
  /* payment */
  .figure.payment {
    width: 500px !important;
    height: 100% !important;
  }
  .text-features {
    font-size: 2rem !important;
    line-height: 1.19;
  }
}
@media (min-width: 1290px) and (max-width: 1390px) {
  .jumbotron {
    padding: 15px 0 60px 0 !important;
    /* min-height: 100vh; */
  }
  .title-jumbotron {
    background: linear-gradient(to right, #76cc11 30%, #0080ff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 4rem !important;
    line-height: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
  .logo-jumbo img {
    width: 280px;
  }
  .text-features {
    font-size: 2rem !important;
    line-height: 1.19;
  }
  .subtitle {
    font-weight: 800;
    font-size: 4rem !important;
    line-height: 1.1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 2rem !important;
  }
  .mb-60 {
    margin-bottom: 1.5rem !important;
  }
}

@media (min-width: 1400px) {
  .logo-nav {
    width: 185px;
    height: auto;
  }
  .jumbotron {
    padding: 30px 0 90px 0 !important;
  }
  .content-tribe,
  .content-shop,
  .content-linkbio {
    height: 100% !important;
    padding: 60px 0 !important;
    border-top: 1px solid rgb(229, 227, 221);
  }
  .title-tribe,
  .title-shop,
  .title-linkbio {
    font-size: 2rem !important;
  }
  .logo-jumbo img {
    width: 350px;
  }
  .card-features {
    margin-top: 50px;
  }
  .title-jumbotron {
    background: linear-gradient(to right, #76cc11 30%, #0080ff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 5.5rem !important;
    line-height: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
  .subtitle {
    font-weight: 800;
    font-size: 5.5rem !important;
    line-height: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
  .btn-action {
    margin-top: 30px;
  }
  .mb-60 {
    margin-bottom: 1.5rem !important;
  }
  .text-features {
    background: linear-gradient(to right, #76cc11 30%, #0080ff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 2rem !important;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  .figure.payment {
    width: 500px !important;
    height: 100% !important;
  }
}
